<a href="https://colab.research.google.com/github/Nokibulofficial18/NoSafenet-Python-for-AI-and-ML-/blob/main/session_18_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
pd.options.display.max_columns = None
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [ ]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Red Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,5,0,5,2,3,15,0,3,1,9,45,5,159,100,6,4,4,0,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,5,5,2,4,1,8,7,6,4,6,55,10,159,103,6,4,2,0,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,13,7,3,10,3,11,5,2,3,11,72,15,133,94,8,6,0,0,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,8,3,4,6,2,3,0,3,1,1,34,1,56,19,1,1,2,0,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,15,4,7,8,7,12,4,2,4,13,101,12,143,86,6,6,2,0,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [ ]:
# code here
teams = pd.unique(df[['Team','Against']].values.ravel())

team_percentages = {}

for team in teams:
  team_data = df[df['Team']==team]
  total_attempts = team_data['Total Attempts'].sum()
  total_on_target = team_data['On Target'].sum()
  if total_attempts > 0:
        percentage = (total_on_target / total_attempts) * 100
  else:
        percentage = 0.0

    # Store rounded percentage
  team_percentages[team] = float(round(percentage, 2))

sorted_percentage = dict(sorted(team_percentages.items(), key = lambda item:int(item[1]),reverse=True))
print(sorted_percentage)

{'Costa Rica': 54.55, 'Cameroon': 51.85, 'Ecuador': 48.15, 'Argentina': 46.15, 'England': 45.0, 'Brazil': 45.56, 'Portugal': 40.32, 'Ghana': 40.0, 'Netherlands': 39.02, 'Australia': 36.0, 'Korea Republic': 36.73, 'Mexico': 34.88, 'France': 34.65, 'Germany': 34.33, 'Croatia': 33.73, 'Spain': 32.69, 'Belgium': 32.35, 'Serbia': 32.26, 'Iran': 31.43, 'United States': 31.11, 'Saudi Arabia': 31.03, 'Uruguay': 31.25, 'Senegal': 30.77, 'Denmark': 30.56, 'Japan': 30.23, 'Switzerland': 30.56, 'Wales': 29.17, 'Qatar': 28.57, 'Morocco': 28.33, 'Tunisia': 26.67, 'Poland': 25.0, 'Canada': 17.65, 'Fram': 0.0}

### `Q-2:` Find out how many times the teams are played in this Fifa Worldcup-2022. On top of this, find out the ranks of the teams.

Note: The `DataFrame.rank()` method takes an optiinal parameter named `method`. This parameter takes different values, but one of them is `average` which is by-default. So, when you do the rank, you will get some 2.5 like floating values. But if you change the value as `first`, then you will get in integers but the datatype will be float. So, try with `method="first"` parameter.

In [ ]:
print(teams.shape[0])

33

In [ ]:
# code here
result_df = pd.DataFrame.from_dict(team_percentages, orient='index', columns=['On Target %'])
result_df.index.name = 'Team'
result_df['Rank'] = result_df['On Target %'].rank(ascending=False, method="first")

# Sort by Rank
result_df = result_df.sort_values(by='Rank')

# Print the final result
print(result_df)

                On Target %  Rank
Team
Costa Rica            54.55   1.0
Cameroon              51.85   2.0
Ecuador               48.15   3.0
Argentina             46.15   4.0
Brazil                45.56   5.0
England               45.00   6.0
Portugal              40.32   7.0
Ghana                 40.00   8.0
Netherlands           39.02   9.0
Korea Republic        36.73  10.0
Australia             36.00  11.0
Mexico                34.88  12.0
France                34.65  13.0
Germany               34.33  14.0
Croatia               33.73  15.0
Spain                 32.69  16.0
Belgium               32.35  17.0
Serbia                32.26  18.0
Iran                  31.43  19.0
Uruguay               31.25  20.0
United States         31.11  21.0
Saudi Arabia          31.03  22.0
Senegal               30.77  23.0
Denmark               30.56  24.0
Switzerland           30.56  25.0
Japan                 30.23  26.0
Wales                 29.17  27.0
Qatar                 28.57  28.0
Morocco               28.33  29.0
Tunisia               26.67  30.0
Poland                25.00  31.0
Canada                17.65  32.0
Fram                   0.00  33.0

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [ ]:
# code here
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB
None

In [ ]:
print(df.describe(include='all'))

            Sl. No   Match No.    Team  Against Group        Goal  \
count   128.000000  128.000000     128      128   128  128.000000
unique         NaN         NaN      32       33     8         NaN
top            NaN         NaN  France  Croatia     F         NaN
freq           NaN         NaN       7        7    20         NaN
mean     64.500000   32.500000     NaN      NaN   NaN    1.343750
std      37.094474   18.545539     NaN      NaN   NaN    1.342448
min       1.000000    1.000000     NaN      NaN   NaN    0.000000
25%      32.750000   16.750000     NaN      NaN   NaN    0.000000
50%      64.500000   32.500000     NaN      NaN   NaN    1.000000
75%      96.250000   48.250000     NaN      NaN   NaN    2.000000
max     128.000000   64.000000     NaN      NaN   NaN    7.000000

        Possession (%)  Inside Penalty Area  Outside Penalty Area     Assists  \
count       128.000000           128.000000            128.000000  128.000000
unique             NaN                  NaN                   NaN         NaN
top                NaN                  NaN                   NaN         NaN
freq               NaN                  NaN                   NaN         NaN
mean         43.476562             1.203125              0.117188    0.914062
std          11.442403             1.324270              0.322907    1.150333
min          14.000000             0.000000              0.000000    0.000000
25%          35.000000             0.000000              0.000000    0.000000
50%          45.000000             1.000000              0.000000    1.000000
75%          51.000000             2.000000              0.000000    1.000000
max          78.000000             7.000000              1.000000    6.000000

        Total Attempts   On Target  Off Target  Target in Penalty  \
count       128.000000  128.000000  128.000000         128.000000
unique             NaN         NaN         NaN                NaN
top                NaN         NaN         NaN                NaN
freq               NaN         NaN         NaN                NaN
mean         11.257812    4.007812    4.835938           6.914062
std           5.406683    2.588576    2.610630           3.998085
min           0.000000    0.000000    0.000000           0.000000
25%           7.750000    2.000000    3.000000           4.000000
50%          10.000000    4.000000    4.000000           6.000000
75%          14.000000    6.000000    6.000000           9.000000
max          32.000000   13.000000   17.000000          24.000000

        Target from Outside  Left Channel  Left Inside Channel  \
count            128.000000    128.000000           128.000000
unique                  NaN           NaN                  NaN
top                     NaN           NaN                  NaN
freq                    NaN           NaN                  NaN
mean               4.343750     13.562500             4.671875
std                2.733397      6.901729             2.886595
min                0.000000      2.000000             0.000000
25%                3.000000      8.000000             2.000000
50%                4.000000     12.000000             4.500000
75%                5.000000     18.000000             7.000000
max               15.000000     36.000000            13.000000

        Central Channel  Right Inside Channel  Right Channel  Receptions MD  \
count        128.000000            128.000000     128.000000     128.000000
unique              NaN                   NaN            NaN            NaN
top                 NaN                   NaN            NaN            NaN
freq                NaN                   NaN            NaN            NaN
mean           4.906250              4.648438      12.234375      92.703125
std            3.080131              2.936573       6.176517      29.440547
min            0.000000              0.000000       1.000000      32.000000
25%            3.000000              3.000000       8.000000      72.750000
50%            4.000000              4.000000      11.000000      93.000000
75%            6.250000              6.000000      16.250000     111.250000
max           16.000000             19.000000      29.000000     186.000000

        Receptions D  Attempted Line Breaks  Completed Line Breaks  \
count     128.000000             128.000000             128.000000
unique           NaN                    NaN                    NaN
top              NaN                    NaN                    NaN
freq             NaN                    NaN                    NaN
mean       12.453125             169.281250             109.476562
std        18.152399              34.120661              30.776298
min         0.000000              56.000000              19.000000
25%         7.000000             149.500000              87.750000
50%         9.000000             170.500000             106.000000
75%        14.000000             188.000000             129.000000
max       192.000000             259.000000             192.000000

        Attempted Defensive Line Breaks  Completed Defensive Line Breaks  \
count                        128.000000                       128.000000
unique                              NaN                              NaN
top                                 NaN                              NaN
freq                                NaN                              NaN
mean                          14.812500                         8.265625
std                            7.230458                         5.101311
min                            1.000000                         0.000000
25%                           10.000000                         5.000000
50%                           15.000000                         8.000000
75%                           20.000000                        11.000000
max                           40.000000                        27.000000

        Yellow Cards   Red Cards  Fouls Against    Offsides       Passes  \
count     128.000000  128.000000     128.000000  128.000000   128.000000
unique           NaN         NaN            NaN         NaN          NaN
top              NaN         NaN            NaN         NaN          NaN
freq             NaN         NaN            NaN         NaN          NaN
mean        1.726562    0.023438      12.320312    1.976562   502.859375
std         1.514834    0.151883       4.691983    1.731891   160.160487
min         0.000000    0.000000       0.000000    0.000000   225.000000
25%         1.000000    0.000000       9.000000    1.000000   398.250000
50%         2.000000    0.000000      12.000000    2.000000   495.500000
75%         2.000000    0.000000      15.000000    3.000000   589.500000
max         8.000000    1.000000      30.000000   10.000000  1070.000000

        Passes Completed     Crosses  Crosses Completed     Corners  \
count         128.000000  128.000000         128.000000  128.000000
unique               NaN         NaN                NaN         NaN
top                  NaN         NaN                NaN         NaN
freq                 NaN         NaN                NaN         NaN
mean          430.929688   19.523438           4.898438    4.468750
std           160.893724    8.596799           3.520111    2.774852
min           156.000000    4.000000           0.000000    0.000000
25%           323.250000   13.000000           3.000000    2.000000
50%           419.000000   19.000000           4.000000    4.000000
75%           519.750000   24.000000           6.000000    6.000000
max           994.000000   53.000000          25.000000   14.000000

        Free Kicks  Penalties Scored         Pts
count   128.000000        128.000000  128.000000
unique         NaN               NaN         NaN
top            NaN               NaN         NaN
freq           NaN               NaN         NaN
mean     14.250000          0.335938    1.429688
std       4.712189          0.941412    1.389973
min       5.000000          0.000000    0.000000
25%      11.000000          0.000000    0.000000
50%      14.000000          0.000000    1.000000
75%      17.000000          0.000000    3.000000
max      30.000000          5.000000    3.000000

In [ ]:
print(df.isnull().sum())
df.fillna(df.mean(numeric_only=True),inplace=True)
print(df.isnull().sum())

Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
dtype: int64
Sl. No                             0
Match No.                          0
Team                               0
Against                            0
Group                              0
Goal                               0
Possession (%)                     0
Inside Penalty Area                0
Outside Penalty Area               0
Assists                            0
Total Attempts                     0
On Target                          0
Off Target                         0
Target in Penalty                  0
Target from Outside                0
Left Channel                       0
Left Inside Channel                0
Central Channel                    0
Right Inside Channel               0
Right Channel                      0
Receptions MD                      0
Receptions D                       0
Attempted Line Breaks              0
Completed Line Breaks              0
Attempted Defensive Line Breaks    0
Completed Defensive Line Breaks    0
Yellow Cards                       0
Red Cards                          0
Fouls Against                      0
Offsides                           0
Passes                             0
Passes Completed                   0
Crosses                            0
Crosses Completed                  0
Corners                            0
Free Kicks                         0
Penalties Scored                   0
Pts                                0
dtype: int64

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.drop(columns=["Sl. No", "Match No.", "Red Cards", "Pts"], inplace=True)

###`Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [ ]:
df["Rank"]=df['Team'].rank()
df["Rank"].astype('int16')
df.set_index('Rank',inplace=True)
df.sort_index(inplace=True)
df.head()

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,Off Target,Target in Penalty,Target from Outside,Left Channel,Left Inside Channel,Central Channel,Right Inside Channel,Right Channel,Receptions MD,Receptions D,Attempted Line Breaks,Completed Line Breaks,Attempted Defensive Line Breaks,Completed Defensive Line Breaks,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
Rank,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4.0,Argentina,Saudi Arabia,C,1,51,1,0,0,14,6,6,10,4,12,4,5,8,18,91,27,195,127,10,8,0,7,10,593,525,36,15,9,21,1
4.0,Argentina,Mexico,C,2,50,1,1,2,5,2,3,2,3,10,6,2,4,12,89,2,150,100,10,5,1,15,2,533,464,14,2,4,23,0
4.0,Argentina,Netherlands,C,2,44,2,0,1,15,6,8,5,10,7,7,13,6,17,104,7,203,122,24,8,8,18,2,603,511,16,4,8,30,5
4.0,Argentina,France,C,3,46,3,0,1,21,9,9,13,8,13,6,8,9,9,163,28,249,172,40,24,4,26,4,648,544,20,4,6,22,5
4.0,Argentina,Poland,C,2,67,1,1,2,25,13,8,10,15,25,8,7,10,26,150,36,141,126,20,16,1,11,0,862,814,22,5,9,5,0

In [ ]:
# code here

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

In [4]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results


url = " https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic1 = pd.read_csv(url)
titanic1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv"
titanic2 = pd.read_csv(url)
titanic2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [8]:
# code here
titanic1.dropna(subset=['Age'],inplace=True)
titanic1.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
titanic2['Age'].fillna(20, inplace=True)

titanic2.head()

<ipython-input-11-cc4b2af35ac4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic2['Age'].fillna(20, inplace=True)

np.int64(0)

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [24]:
url =  "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"
ipl_matches = pd.read_csv(url)
ipl_matches.head(1)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon

###`Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [15]:
replace_dict = {
    'Delhi Daredevils': 'Delhi Capitals',
    'Kings XI Punjab': 'Punjab Kings',
    'Rising Pune Supergiants': 'Rising Pune Supergiant'
}

ipl_matches.replace({'Team1': replace_dict, 'Team2': replace_dict, 'WinningTeam': replace_dict}, inplace=True)
ipl_matches.tail(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Capitals,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Capitals,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [17]:
# code here
teams = pd.unique(ipl_matches[['Team1','Team2']].values.ravel())
data = []

for team in teams:
  total_match = ipl_matches[(ipl_matches['Team1']==team) | (ipl_matches['Team2']==team)].shape[0]
  wins = ipl_matches[ipl_matches['WinningTeam']==team].shape[0]
  home_match = ipl_matches[ipl_matches['Team1']==team].shape[0]
  home_match_win = ipl_matches[(ipl_matches['WinningTeam']==team) & (ipl_matches['Team1']==team)].shape[0]
  away_match = ipl_matches[ipl_matches['Team2']==team].shape[0]
  away_match_win = ipl_matches[(ipl_matches['WinningTeam']==team) & (ipl_matches['Team2']==team)].shape[0]

  win_pct = round(100 * wins/total_match,2)
  home_win_pct = round(100 * home_match_win / home_match,2)
  away_win_pct = round(100* away_match_win/away_match,2)
  data.append([team,total_match,win_pct,home_win_pct,away_win_pct])


team_df = pd.DataFrame(data,columns=['Team Name','Match Played', 'Win%','Home Win%','Away Win%'])

team_df = team_df.sort_values(by="Win%",ascending=False).reset_index(drop=True)

print(team_df)

                      Team Name  Match Played   Win%  Home Win%  Away Win%
0                Gujarat Titans            16  75.00      57.14      88.89
1          Lucknow Super Giants            15  60.00      87.50      28.57
2           Chennai Super Kings           208  58.17      58.56      57.73
3                Mumbai Indians           231  56.71      58.04      55.46
4         Kolkata Knight Riders           223  51.12      53.33      49.15
5        Rising Pune Supergiant            30  50.00      50.00      50.00
6              Rajasthan Royals           192  50.00      55.06      45.63
7           Sunrisers Hyderabad           152  49.34      52.17      46.99
8   Royal Challengers Bangalore           226  48.23      48.41      48.00
9                  Punjab Kings           218  46.33      45.45      47.22
10               Delhi Capitals           224  45.98      46.49      45.45
11                Gujarat Lions            30  43.33      31.25      57.14
12         Kochi Tuskers Kerala            14  42.86      42.86      42.86
13              Deccan Chargers            75  38.67      33.33      44.44
14                Pune Warriors            46  26.09      26.09      26.09

###`Q-7:` Venues with most "no result" matches.

In [23]:
# code here
venues = ipl_matches[ipl_matches['WinningTeam'].isna()]
venues = venues['Venue'].value_counts().reset_index()
venues.columns = ['Venue','No Result Matches']

print(venues)

                   Venue  No Result Matches
0  M Chinnaswamy Stadium                  2
1  M.Chinnaswamy Stadium                  1
2       Feroz Shah Kotla                  1

###`Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [27]:
from typing_extensions import final
# code here
final_matches = ipl_matches[ipl_matches['MatchNumber']=='Final']
all_players = []
for _, row in final_matches.iterrows():
    for col in ['Team1Players', 'Team2Players']:
        players_str = row[col]
        players = [p.strip().strip("'").strip('"') for p in players_str.strip('[]').split(',')]
        all_players.extend(players)

from collections import Counter
player_counts = pd.Series(Counter(all_players)).sort_values(ascending=False)
print("Most Final Match Appearances:")
print(player_counts.head(10))

Most Final Match Appearances:
MS Dhoni      10
SK Raina       8
AT Rayudu      7
DJ Bravo       7
RA Jadeja      7
R Ashwin       7
RG Sharma      6
KA Pollard     6
SL Malinga     5
HH Pandya      5
dtype: int64

###`Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [33]:
def point_table(season):
    # Convert season to string to match data type
    season = str(season)

    # Step 1: Filter matches for the season
    season_df = ipl_matches[ipl_matches['Season'] == season]

    if season_df.empty:
        print(f"No matches found for season {season}")
        return pd.DataFrame()  # Return empty DataFrame

    # Step 2: Initialize dictionary to collect data
    teams = pd.unique(season_df[['Team1', 'Team2']].values.ravel())
    data = {team: {'MatchesPlayed': 0, 'MatchesWon': 0, 'NoResult': 0} for team in teams}

    # Step 3: Iterate over each match
    for _, row in season_df.iterrows():
        team1 = row['Team1']
        team2 = row['Team2']
        winner = row['WinningTeam']

        data[team1]['MatchesPlayed'] += 1
        data[team2]['MatchesPlayed'] += 1

        if pd.isna(winner):  # No Result
            data[team1]['NoResult'] += 1
            data[team2]['NoResult'] += 1
        else:
            data[winner]['MatchesWon'] += 1

    # Step 4: Build DataFrame
    table = []
    for team, stats in data.items():
        matches = stats['MatchesPlayed']
        wins = stats['MatchesWon']
        no_result = stats['NoResult']
        points = wins * 2 + no_result
        table.append([team, matches, wins, no_result, points])

    df_points = pd.DataFrame(table, columns=['TeamName', 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])

    if df_points.empty:
        return df_points

    df_points.set_index('TeamName', inplace=True)

    # Step 5: Sort: First by Points DESC, then by TeamName ASC
    df_points = df_points.sort_values(by=['Points', 'TeamName'], ascending=[False, True]).reset_index().set_index('TeamName')


    return df_points

In [34]:
print(point_table(2022))

                             MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Lucknow Super Giants                    15           9         0      18
Royal Challengers Bangalore             16           9         0      18
Delhi Capitals                          14           7         0      14
Punjab Kings                            14           7         0      14
Kolkata Knight Riders                   14           6         0      12
Sunrisers Hyderabad                     14           6         0      12
Chennai Super Kings                     14           4         0       8
Mumbai Indians                          14           4         0       8

###`Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [35]:
# code here
def point_table(season):
    season = str(season)
    season_df = ipl_matches[ipl_matches['Season'] == season].copy()

    if season_df.empty:
        print(f"No matches found for season {season}")
        return pd.DataFrame()

    # Init data
    teams = pd.unique(season_df[['Team1', 'Team2']].values.ravel())
    data = {team: {'MatchesPlayed': 0, 'MatchesWon': 0, 'NoResult': 0} for team in teams}

    for _, row in season_df.iterrows():
        team1, team2 = row['Team1'], row['Team2']
        winner = row['WinningTeam']
        data[team1]['MatchesPlayed'] += 1
        data[team2]['MatchesPlayed'] += 1

        if pd.isna(winner):
            data[team1]['NoResult'] += 1
            data[team2]['NoResult'] += 1
        else:
            data[winner]['MatchesWon'] += 1

    # Build points DataFrame
    table = []
    for team, stats in data.items():
        points = stats['MatchesWon'] * 2 + stats['NoResult']
        table.append([team, stats['MatchesPlayed'], stats['MatchesWon'], stats['NoResult'], points])

    df_points = pd.DataFrame(table, columns=['TeamName', 'MatchesPlayed', 'MatchesWon', 'NoResult', 'Points'])

    # Sort: Points DESC, then TeamName ASC
    df_points = df_points.sort_values(by=['Points', 'TeamName'], ascending=[False, True]).reset_index(drop=True)
    df_points = df_points.copy()  # avoid SettingWithCopyWarning

    # Add placeholder for SeasonPosition
    df_points['SeasonPosition'] = df_points['Points'].rank(method='dense', ascending=False).astype(int)

    # --- Handle top 4 custom labels ---
    final = season_df[season_df['MatchNumber'].str.contains("Final", na=False)]
    qualifier2 = season_df[season_df['MatchNumber'].str.contains("Qualifier 2", na=False)]
    eliminator = season_df[season_df['MatchNumber'].str.contains("Eliminator", na=False)]

    if not final.empty:
        winner = final.iloc[0]['WinningTeam']
        runner = final.iloc[0]['Team1'] if final.iloc[0]['Team2'] == winner else final.iloc[0]['Team2']
        df_points.at[df_points[df_points['TeamName'] == winner].index[0], 'SeasonPosition'] = 'Winner'
        df_points.at[df_points[df_points['TeamName'] == runner].index[0], 'SeasonPosition'] = 'Runner'

    if not qualifier2.empty:
        loser_q2 = qualifier2.iloc[0]['Team1'] if qualifier2.iloc[0]['WinningTeam'] == qualifier2.iloc[0]['Team2'] else qualifier2.iloc[0]['Team2']
        df_points.at[df_points[df_points['TeamName'] == loser_q2].index[0], 'SeasonPosition'] = 3

    if not eliminator.empty:
        loser_elim = eliminator.iloc[0]['Team1'] if eliminator.iloc[0]['WinningTeam'] == eliminator.iloc[0]['Team2'] else eliminator.iloc[0]['Team2']
        df_points.at[df_points[df_points['TeamName'] == loser_elim].index[0], 'SeasonPosition'] = 4

    return df_points.set_index("TeamName")

In [36]:
pt2022 = point_table(2022)
print(pt2022.loc[['Gujarat Titans', 'Rajasthan Royals']])

                  MatchesPlayed  MatchesWon  NoResult  Points SeasonPosition
TeamName
Gujarat Titans               16          12         0      24         Winner
Rajasthan Royals             17          10         0      20         Runner

<ipython-input-35-ccd6e15a930d>:49: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Winner' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_points.at[df_points[df_points['TeamName'] == winner].index[0], 'SeasonPosition'] = 'Winner'