<a href="https://colab.research.google.com/github/Nokibulofficial18/NoSafenet-Python-for-AI-and-ML-/blob/main/session_19_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [10]:
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [11]:
# code here
pc_group=titanic_df.groupby("Pclass")
average_age = pc_group["Age"].mean()
print(average_age)
print(pc_group["Age"].apply(lambda x: x.isna().sum()))

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64
Pclass
1     30
2     11
3    136
Name: Age, dtype: int64

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [15]:
# code here
pc_group["Embarked"].transform(lambda x: x.fillna(x.mode()[0]))
print(pc_group["Embarked"].value_counts(ascending=True))

Pclass  Embarked
1       Q             2
        C            85
        S           127
2       Q             3
        C            17
        S           164
3       C            66
        Q            72
        S           353
Name: count, dtype: int64

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [20]:
# code here
titanic_df.groupby(["Embarked","Pclass"])["Fare"].mean().round(0)

Embarked  Pclass
C         1         105.0
          2          25.0
          3          11.0
Q         1          90.0
          2          12.0
          3          11.0
S         1          70.0
          2          20.0
          3          15.0
Name: Fare, dtype: float64

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [35]:
# code here
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
fifa_df.sample()
fifa_df.columns

Index(['Sl. No', 'Match No.', 'Team', 'Against', 'Group', 'Goal',
       'Possession (%)', 'Inside Penalty Area', 'Outside Penalty Area',
       'Assists', 'Total Attempts', 'On Target', 'Off Target',
       'Target in Penalty', 'Target from Outside', 'Left Channel',
       'Left Inside Channel', 'Central Channel', 'Right Inside Channel',
       'Right Channel', 'Receptions MD', 'Receptions D',
       'Attempted Line Breaks', 'Completed Line Breaks',
       'Attempted Defensive Line Breaks', 'Completed Defensive Line Breaks',
       'Yellow Cards', 'Red Cards', 'Fouls Against', 'Offsides', 'Passes',
       'Passes Completed', 'Crosses', 'Crosses Completed', 'Corners',
       'Free Kicks', 'Penalties Scored', 'Pts'],
      dtype='object')

In [26]:
def z_normalization(group,cols_to_perform):
  for col in cols_to_perform:
    group[col] = (group[col] - group[col].mean())/group[col].std()
  return group

In [30]:
cols_to_normalize = ["Passes", "Passes Completed", "Attempted Line Breaks", "Completed Line Breaks"]
normalize_df = fifa_df.groupby("Team").apply(z_normalization,cols_to_normalize)
normalize_df.head()

/tmp/ipython-input-30-2422021210.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  normalize_df = fifa_df.groupby("Team").apply(z_normalization,cols_to_normalize)

               Sl. No  Match No.       Team       Against Group  Goal  \
Team
Argentina 8         9          5  Argentina  Saudi Arabia     C     1
          46       47         24  Argentina        Mexico     C     2
          77       78         39  Argentina        Poland     C     2
          98       99         50  Argentina     Australia     C     2
          115     116         58  Argentina   Netherlands     C     2

               Possession (%)  Inside Penalty Area  Outside Penalty Area  \
Team
Argentina 8                51                    1                     0
          46               50                    1                     1
          77               67                    1                     1
          98               53                    2                     0
          115              44                    2                     0

               Assists  ...  Fouls Against  Offsides    Passes  \
Team                    ...
Argentina 8          0  ...              7        10 -0.208138
          46         2  ...             15         2 -0.630447
          77         2  ...             11         0  1.685214
          98         1  ...              8         4  0.622403
          115        1  ...             18         2 -0.137753

               Passes Completed  Crosses  Crosses Completed  Corners  \
Team
Argentina 8           -0.157888       36                 15        9
          46          -0.574048       14                  2        4
          77           1.813757       22                  5        9
          98           0.592566        6                  1        1
          115         -0.253400       16                  4        8

               Free Kicks  Penalties Scored  Pts
Team
Argentina 8            21                 1    0
          46           23                 0    3
          77            5                 0    3
          98           15                 0    3
          115          30                 5    3

[5 rows x 38 columns]

In [36]:
fifa_df.groupby("Team").agg({
    "Passes":["min","max"],
    "Yellow Cards": ["min", "max", "mean"],
    "Attempted Line Breaks": ["min", "max", "std"],
    "Possession (%)": "mean"

})

               Passes       Yellow Cards               Attempted Line Breaks  \
                  min   max          min max      mean                   min
Team
Argentina         408   862            0   8  2.285714                   141
Australia         286   466            0   3  1.750000                   133
Belgium           512   685            1   3  1.666667                   167
Brazil            548   695            0   3  1.200000                   164
Cameroon          295   500            1   5  2.666667                   144
Canada            448   536            2   4  2.666667                   102
Costa Rica        231   454            1   3  2.000000                    86
Croatia           461   724            0   2  1.142857                    97
Denmark           537   650            1   2  1.666667                   173
Ecuador           429   484            0   2  1.000000                   143
England           508   810            0   1  0.200000                   133
France            358   734            0   3  1.142857                   126
Germany           352   827            0   3  1.000000                   143
Ghana             319   460            2   4  2.666667                   122
Iran              232   463            2   3  2.333333                    56
Japan             225   591            0   3  1.500000                   104
Korea Republic    359   548            1   2  1.500000                   139
Mexico            356   500            1   4  2.333333                   127
Morocco           229   583            0   3  1.285714                   128
Netherlands       403   786            0   4  1.800000                   168
Poland            303   466            1   3  1.750000                    79
Portugal          461   678            0   3  1.200000                   165
Qatar             424   457            0   4  2.333333                   159
Saudi Arabia      267   560            2   6  4.666667                   147
Senegal           277   511            1   3  1.750000                   143
Serbia            403   513            2   7  4.000000                   140
Spain             647  1070            0   1  0.500000                   186
Switzerland       403   512            1   4  2.250000                   157
Tunisia           328   501            1   3  1.666667                   153
United States     427   572            0   4  1.250000                   143
Uruguay           390   528            1   3  2.000000                   146
Wales             325   508            1   2  1.666667                   104

                               Possession (%)
                max        std           mean
Team
Argentina       249  38.774685      49.285714
Australia       171  17.682383      31.250000
Belgium         195  14.422205      49.000000
Brazil          193  10.691118      50.400000
Cameroon        182  19.857828      38.333333
Canada          176  37.753587      44.333333
Costa Rica      154  38.974351      27.333333
Croatia         259  54.499891      47.428571
Denmark         241  34.000000      51.333333
Ecuador         177  17.009801      42.666667
England         208  29.676590      57.200000
France          179  21.407609      44.857143
Germany         256  56.624494      53.000000
Ghana           188  33.020196      37.000000
Iran            195  77.526340      31.666667
Japan           253  64.048810      30.250000
Korea Republic  201  27.072434      42.250000
Mexico          198  40.706265      46.666667
Morocco         157  10.641339      34.285714
Netherlands     198  12.759310      44.000000
Poland          156  36.326070      32.000000
Portugal        197  13.049904      53.800000
Qatar           174   7.767453      39.333333
Saudi Arabia    205  29.022979      36.666667
Senegal         184  16.938615      38.500000
Serbia          184  22.188586      42.666667
Spain           237  24.289916      67.000000
Switzerland     178   9.032349      43.000000
Tunisia         200  24.419937      38.666667
United States   204  27.693260      47.000000
Uruguay         186  22.030282      41.000000
Wales           208  53.028294      41.000000

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [42]:
import pandas as pd

url = "https://drive.google.com/uc?id=1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt"
ipl_df = pd.read_csv(url)
ipl_df.head()

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Rajasthan RoyalsGujarat Titans,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Rajasthan RoyalsGujarat Titans,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Rajasthan RoyalsGujarat Titans,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Rajasthan RoyalsGujarat Titans,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Rajasthan RoyalsGujarat Titans,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans

###`Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing mean team batting in second inning

In [46]:
# code here
chasing_df = ipl_df[ipl_df["innings"]==2]
highest_run = chasing_df.groupby(["batter","ID"])["batsman_run"].sum().max()
highest_run

120

###`Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [50]:
import pandas as pd

# Step 1: Filter only dismissals (where a wicket was taken)
dismissals_df = ipl_df[ipl_df["isWicketDelivery"] == 1]

# Step 2: Count dismissals per (bowler, batter) pair
dismissal_counts = dismissals_df.groupby(["bowler", "batter"]).size().reset_index(name="Dismissals")

# Step 3: Calculate total runs conceded per (bowler, batter) pair
# Use 'batsman_run' for batter-specific runs (ignores extras)
runs_conceded = ipl_df.groupby(["bowler", "batter"])["batsman_run"].sum().reset_index(name="Runs_Conceded")

# Step 4: Merge both
pair_stats = pd.merge(dismissal_counts, runs_conceded, on=["bowler", "batter"])

# Step 5: Sort by highest dismissals, then lowest runs conceded
sorted_pairs = pair_stats.sort_values(by=["Dismissals", "Runs_Conceded"], ascending=[False, True])

# Step 6: Get the top pair
most_successful = sorted_pairs.iloc[0]

# Step 7: Output
print("Most Successful Bowler vs Batsman Pair:")
print(f"{most_successful['bowler']} dismissed {most_successful['batter']} "
      f"{most_successful['Dismissals']} times, conceding {most_successful['Runs_Conceded']} runs.")

Most Successful Bowler vs Batsman Pair:
SP Narine dismissed RG Sharma 8 times, conceding 137 runs.

###`Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [51]:
# code here



ipl_df["batting_pair"] = ipl_df.apply(
    lambda row: tuple(sorted([row["batter"], row["non-striker"]])), axis=1
)

pair_runs = ipl_df.groupby("batting_pair")["total_run"].sum().reset_index(name="Total_Runs")


pair_runs_sorted = pair_runs.sort_values(by="Total_Runs", ascending=False)


top_pair = pair_runs_sorted.iloc[0]

print("Most Successful Batting Pair in IPL:")
print(f"{top_pair['batting_pair'][0]} & {top_pair['batting_pair'][1]} - {top_pair['Total_Runs']} runs together")

Most Successful Batting Pair in IPL:
AB de Villiers & V Kohli - 3134 runs together

###`Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [52]:
# code here
import pandas as pd

# Step 1: Create consistent batting pair (alphabetically sorted to avoid duplication)
ipl_df["batting_pair"] = ipl_df.apply(
    lambda row: tuple(sorted([row["batter"], row["non-striker"]])), axis=1
)

# Step 2: Group by batting pair and sum total runs
batting_pairs_df = ipl_df.groupby("batting_pair")["total_run"].sum().reset_index(name="Total_Runs_Together")

# Step 3: Split tuple into two separate columns
batting_pairs_df[["Batter_1", "Batter_2"]] = pd.DataFrame(batting_pairs_df["batting_pair"].tolist(), index=batting_pairs_df.index)

# Step 4: Rearrange columns
batting_pairs_df = batting_pairs_df[["Batter_1", "Batter_2", "Total_Runs_Together"]]

# Optional: Sort by total runs
batting_pairs_df = batting_pairs_df.sort_values(by="Total_Runs_Together", ascending=False).reset_index(drop=True)

# Show the resulting DataFrame
print(batting_pairs_df.head())

         Batter_1    Batter_2  Total_Runs_Together
0  AB de Villiers     V Kohli                 3134
1        CH Gayle     V Kohli                 2802
2       DA Warner    S Dhawan                 2357
3       G Gambhir  RV Uthappa                 1906
4        KL Rahul  MA Agarwal                 1731